* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body {
    background-color: white;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100vw;
}nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color:  white;
    border-bottom: 1px solid hsl(233, 8%, 62%);
    position: static;
}
.display {
    display: flex;
    align-items: center;
}
ul {
    gap: 3rem;
    height: 100%;
}
li {
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    color: hsl(233, 8%, 62%);
    border-bottom: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:hover {
    border-bottom: 3px solid hsl(136, 65%, 51%);
    font-weight: 700;
    color: hsl(233, 26%, 24%);
}button {
    display: flex;
}.menu{
    display: none;
}
.hide {
    display: none;
}
.run {
        transform: translateX(0vw);
}
.return {
    transform: translateX(0vw);
}
@media (max-width: 425px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    nav {
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
        padding: 1rem;
    }
    ul {
        width: 100%;
        height: fit-content;
        position: absolute;
        flex-direction: column;
        background-color: black;
        align-items: start;
        justify-content: start;
        top: 4rem;
        left: 0;
        padding: 1rem;
        gap: 1rem;
        transition: all 1s ease-in-out;
    }li {
        display: block;
        width: 100%;
        border: none;
    } .menu {
        display: flex;
    }button {display: none;}
    .run {
        transform: translateX(-200vw);
    }
}